* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin-top: 2rem;
}

.header {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.header__title { 
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h3, h4 {
    max-width: 400px;
    background-color: rgba(35, 67, 173, 0.3);
    padding: 2px;
    border-radius: 5px;
}

h1 {
    font-size: 6rem;
    max-width: 600px;
}

.gallery {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.picture {
    width: 100%;
    height: 100%;
} 

button {
    font-size: 2em;
    padding: 1em;
    background: rgba(156, 156, 156, 0.3);
    border: none;
    border-radius: 5px;
}

button:hover {
    background: rgba(214, 214, 214, 0.3);
}

.footer__copyright {
    text-align: left;
}

.footer__link {
    text-align: right;
}

.display-none {
    display: none;
}

@media (max-width: 992px) {
    .footer__copyright, .footer__link {
        text-align: center;
    }
}